@media (max-width: 1200px){
  .log span,
  .shop .cart
  {
    font-size: 10px;

  }
  .navbar-default .navbar-nav > li > a
  {
    font-size: 14px;
    padding: 21px 10px;
  }
  .top-footer i
  {
    top:71%;
  }
}
@media (max-width: 1024px)
{
  .navbar-default .navbar-nav > li > a {
    font-size: 12px;
    padding: 21px 9px;
  }
  .search button
  {
    top:62%;
  }
}
@media (max-width: 980px){

  .navbar-default .navbar-nav > li > a
  {
    font-size: 12px;
    padding: 21px 9px;
  }
  .content {
    padding: 0px;
    justify-content: center;
  }

  .search button
  {
    top:22%;
  }
  .logo
  {
    display: flex;
    justify-content: center;
  }
  .logo img
  {
    width: auto;
  }
  .top-footer i
  {
    top:65%;
  }
  ul.dropdown-menu
  {
    margin: auto;
  }
  .dropdown-menu
  {
    right:auto;
    left: auto;
  }

}
@media (max-width: 800px){

  img
  {
    width: 100%;
  }

  .box
  {
    margin: 65px 0 20px;
  }
  .search button
  {
    top:22%;
  }
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
  {
    width: 300px;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #755aab;
  }
  .navbar-default {
    background-color: #123557;
  }
  .container>.navbar-header, .container-fluid>.navbar-header,
  .container>.navbar-collapse, .container-fluid>.navbar-collapse
  {
    margin: auto;
  }
  .navbar-default .navbar-nav > li > a
  {
    font-size: 12px;
    padding: 21px 9px;

  }
  .shop img{
    max-width: 100%;
  }


  footer
  {
    text-align: center;
  }
  .copyright
  {
    padding: 0 80px;
  }

  .slider .owl-carousel#sync2 .owl-prev i,
  .slider .owl-carousel#sync2 .owl-next i
  {
    display: none;
  }
  ul.dropdown-menu
  {
    margin: auto;
  }
  .dropdown-menu
  {
    right:auto;
    left: auto;
  }
}
@media (max-width: 768px){
  .offers
  {
    margin: 20px;
  }
  ul.dropdown-menu
  {
    margin: auto;
  }
  .dropdown-menu
  {
    right:auto;
    left: auto;
  }
  .offer .shop img {
    margin: 20px 0;
    height: auto;
  }
  .shop img {
    padding: 15px 15px 0;
  }
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
  {
    width:300px;
  }
}
@media (max-width: 480px){
  ul.dropdown-menu
  {
    margin: auto;
  }
  .dropdown-menu
  {
    right: auto;
    left: 10px;
  }
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
  {
    width: 195px;
  }
}
@media (max-width: 360px){
  .top-footer i
  {
    top:70%;
  }
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
  {
    width: 100%;
  }
}
@media (max-width: 320px){

}

.navside {
  z-index: 999999;
}
