@font-face{

  font-family: 's360r';
  src:url('fonts/SHILIAW23430REGULAR.TTF');
}

@font-face{

  font-family: 's360b';
  src:url('fonts/SHILIAW23630BOLD.OTF');
}
@font-face{

  font-family: 's360t';
  src:url('fonts/SHILIAW23230THIN.OTF');
}
.list-inline,.list-unstyled,p{
  margin: 0px;
}

a, .btn {
  text-decoration: none !important;
  outline: none !important;
  color: #0065a4;
}
a:hover {
  color: #000;
}
body{
  font-family: 's360r';
  color: #1a1c1d;
}
h1, h2, h3, h4, h6, h5, b, strong {
  font-family: 's360b';
  font-weight: 300;
}
.logo
{
  margin: 25px 0 0 ;
}
.box
{
  display: flex;
  border: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  padding: 6px 0;
  margin: 65px 0 0;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
{
  width: 100%
}

button.btn.dropdown-toggle.btn-default {
  border: none;
  background-color: white;
  box-shadow: none;
  background-color: #f5f5f5;
  padding: 0 0 0 45px;
  color: #022648;
}
button.btn.dropdown-toggle.btn-default:focus
{
  outline: none !important;

}
.box input
{
  padding:19px 20px;
  width: 100%;
  background-color: #f5f5f5;
  padding: 9px 20px;

}
.box input,
.box input:hover,
.box input:focus
{
  outline: none !important;
  border-width: 0px 1px 0px 0px;
  border-color:  #e6e6e6;
  font-size: 16px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option
{
  padding: 8px;
  font-size: 16px
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option,
.bootstrap-select.btn-group .dropdown-toggle .filter-option:focus,
.bootstrap-select.btn-group .dropdown-toggle .filter-option:hover,
.bootstrap-select.btn-group .dropdown-toggle .caret,
.bootstrap-select.btn-group .dropdown-toggle .caret:focus,
.bootstrap-select.btn-group .dropdown-toggle .caret:hover
{
  color: #6c6c6c;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option{
  text-align: right;
  color: #022648;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
  right: auto;
  left: 12px;
  color: #022648;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option, .bootstrap-select.btn-group .dropdown-toggle .filter-option:focus, .bootstrap-select.btn-group .dropdown-toggle .filter-option:hover, .bootstrap-select.btn-group .dropdown-toggle .caret, .bootstrap-select.btn-group .dropdown-toggle .caret:focus, .bootstrap-select.btn-group .dropdown-toggle .caret:hover
{
  color: #022648;
}
.search button
{
  background-color: #f5f5f5;
  position: absolute;
  top:63%;
  left: 25px;
}
i.fa.fa-search {
  color: #123454;
}
.btn:hover, .btn:focus
{
  color: #123454;
  box-shadow: none;
}
.search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaaaaa;
  opacity: 1
}

.shop button
{
  border: none;
  box-shadow: none;
  color:#123454;
  width: 100%;
  height: 52px;
  display: flex;
  background-color: white;

}
.shop .cart
{
  font-size: 16px;
  padding: 10px 0;
  font-weight: bold;
}
.badge {
  position: absolute;
  padding: 4px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #a7cdd6;
  color: white;
}
i.fa.fa-shopping-cart.fa-2x
{
  padding: 5px 13px 0 10px;
}
.coin
{
  display: flex;
}
ul.dropdown-menu{
  margin-top: -43px;
  margin-left: 15px;
}
.content
{
  display: flex;
  padding: 74px 0 30px;
}
.log
{
  margin: 13px 0 0;
}
.log i
{
  color: #123454;
  font-size: 22px;
  padding: 0 10px;

}
.log span
{
  font-size: 16px;
  font-weight: bold;
}
.log a , .log a:hover, .log a:focus
{
  color: #123454;
}
.navbar-default
{
  background-color: #123557;
  border: none;
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a
{
  color: #eae3e3;
  font-size: 16px;
  padding:21px
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
  padding: 0px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{

  background-color: #755ea4;
  color: white;
}
.navbar-nav .navbar-right
{
  margin-right: -30px;
}
.navbar-toggle
{
  float: right;
}
.navbar-default .navbar-toggle
{
  color: white;
  border: none;
}
.navbar-default .navbar-toggle .icon
{
  position: relative;
  bottom: -15px;
  right: 30px;
  font-size: 16px
}
.navbar-default .navbar-toggle .icon-bar
{
  background-color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
  background-color: #2a4385;
}

.slider
{
  margin-top: 30px;

}
.owl-carousel {
  direction: ltr;
}
.slider .owl-carousel#sync1 img

{
  display: block;
  width:100%;
  height: auto;
}
.owl-prev , .owl-next
{
  position: absolute;
  top:0px;
  color: #d1d0ce;

}

.slider .owl-carousel#sync1 .owl-prev {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translateX(-50%);
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
}
.slider .owl-carousel#sync1 .owl-next
{
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(-50%);
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
}
.slider .owl-carousel#sync1 .owl-next:hover,
.slider .owl-carousel#sync1 .owl-next:focus,
.slider .owl-carousel#sync1 .owl-prev:hover,
.slider .owl-carousel#sync1 .owl-prev:focus
{
  color: white;
  background-color:#897090;
}

.slider .owl-carousel#sync1 .owl-next, .slider .owl-carousel#sync1 .owl-prev {
  background-color:#636367d1;
  color:white ;
}

.owl-dots
{
  display: none !important;
}

.device img
{
  margin:32px 0 ;
}

.new h1
{
  text-align: center;
  color: #022648;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

hr {
  width: 5%;
  border-color: #6c51a2;
}
.new span
{
  color:#424548;
  font-size: 22px;
  padding: 10px 0;
}
.new img
{

  height: 130px;
  padding: 0 40px 20px;

}
.add
{
  border:1px solid #e7e2e2 ;
  text-align: center;
  padding:20px 0px;
  margin: 10px;
}
.add:hover
{
  background-color: #f7f8f9;
}
.buy
{
  display: none;
}
.buy .fa.fa-shopping-cart
{
  background-color:#6c51a2;
  color:white;
  font-size: 22px;
  padding: 15px;
}
.buy .fa.fa-heart
{
  color: white;
  background-color: #a7cdd6;
  font-size: 22px;
  padding: 15px;
}
.new {
  margin: 80px 0;
}
.new .add:hover .buy {
  display: block;
  position: absolute;
  top: 30%;
  left: 30%;
}

.rating
{
  padding: 20px 0;
}
.rating i {
  font-size: 20px;
  color: #dfdddd;
  padding: 2px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: ltr;
}

.rating > i:hover
{
  color: #ffe800;
}

.slider .owl-carousel#sync2 .owl-next i,
.slider .owl-carousel#sync2 .owl-prev i,
.slider .owl-carousel#sync2 .owl-next i:hover,
.slider .owl-carousel#sync2 .owl-prev i:hover,
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover
{
  background-color: white;
  color: #8974b5;
}
.slider .owl-carousel#sync2 .owl-prev {
  font-size: 24px;
  position: absolute;
  top: 45%;
  left: -29px;
  transform: translateX(-50%);
  background-color: white;
}
.slider .owl-carousel#sync2 .owl-next
{
  font-size: 24px;
  position: absolute;
  top: 45%;
  right: -75px;
  transform: translateX(-50%);
  background-color: white;

}
.slider .owl-carousel#sync2 .owl-next i{
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  color: #dbdbdb;
  background-color: white;
}


.slider .owl-carousel#sync2 .owl-prev i{
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  color: #dbdbdb;
  background-color: white;
}

.slider .owl-carousel#sync2 .owl-next i:hover,
.slider .owl-carousel#sync2 .owl-prev i:hover,
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover
{
  background-color: white;
  color: #8974b5;
}
.offer
{

  background: url(images/background.png);
  margin: 90px 0;

}

.offer .shop img
{
  margin: 90px 0;
  height:305px;
  width: 100%;
}
.offers
{
  background-color: white;
  border:1px solid #e7e2e2 ;
  text-align: center;
  padding:21px 0px;
  margin: 90px 0;
  height: 305px;
  position: relative;
}
.offers .rating
{
  padding: 20px 0;
}
.offers .rating span {
  font-size: 20px;
  color: #dfdddd;
  /* background-color: #dfdddd; */
  padding: 2px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: ltr;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: #ffe800;
}

.offers span
{
  color:#424548;
  font-size: 22px;
  padding: 10px 0;
}

.price span
{

  color: #f87166;
  font-size: 24px;
  font-weight: lighter;
}

footer .copyright a
{
  text-decoration: none;
  color: #f8c12e;
}
footer
{
  background-color: #022648;
  background-size: cover;
  padding: 80px 0;
}
footer h3
{
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 23px;
}
footer ul
{
  min-height: 126px;
}
.top-footer a
{
  color: #256097;
  font-size: 16px;
  line-height: 30px;
}

.top-footer p
{
  color: #256097;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 10px;
}
footer input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #164572;
  opacity: 1
}
footer input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #164572;
  opacity: 1
}
footer input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #164572;
  opacity: 1
}
footer input.form-control:-moz-placeholder { /* Firefox 18- */
  color: #164572;
  opacity: 1
}

.top-footer input
{

  height: 60px;
  box-shadow: none;
  background-color: #082f54;
  color: #718dd5;
  border: none;
  position: relative;
  padding: 20px;
  margin: 20px  0;

}

.top-footer i
{
  color: white;
  position: absolute;
  font-size: 20px;
  top:65%;
  left:7%;
  background-color: #a7cdd6;
  padding: 10px;
}


.copyright
{
  margin: 40px 0px ;
  color:white;
  font-size: 16px;
}
.social
{
  text-align: center;
  margin: 20px 0;
}
.social a
{
  margin: 0 5px;
}
i.fa.fa-wifi {
  color:white ;
  width: 40px;
  height: 40px;
  background-color: #f8c12e;
  border-radius: 50%;
  padding: 8px;
  font-size: 20px;
}
i.fa.fa-instagram
{
  color: white;
  width: 40px;
  height: 40px;
  background-color: #2a5b83;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}
i.fa.fa-google-plus
{

  width: 40px;
  height: 40px;
  background-color: #dc493c;
  border-radius: 50%;
  padding: 8px;
  font-size: 22px;
  color:white ;
}
i.fa.fa-twitter
{
  width: 40px;
  height: 40px;
  background-color:#55acee;
  border-radius: 50%;
  padding: 8px;
  font-size: 22px;
  color:white ;
}
i.fa.fa-facebook
{
  width: 40px;
  height: 40px;
  background-color: #3c599f;
  border-radius: 50%;
  padding: 8px;
  font-size: 22px;
  color:white ;
}
.new .owl-carousel .owl-item img{
  width: inherit;
  max-width: 100%;
  margin: 0 auto;
}
.offers img
{
  width: inherit;
  max-width: 100%;
  margin: 0 auto;
  height: 130px;

}

.offers .prs img
{
  height: auto;
  position: absolute;
  top: 0;
  right: 10px;
}
